# Strings:

<h4> Strings are the sequence of characters enclosed within single('') , double("") or triple quotes(''' ''')

Examples: 
  <h5> 'Hello' , "Hello" , '''Hello'''

In [5]:
str1 = 'Single quote str'
print(str1)

Single quote str

In [6]:
str2 = "Double Quote str"
print(str2)

Double Quote str

In [8]:
str3 = '''this is triple quote strings ......

this is used for multiple libnes'''

print(str3)

this is triple quote strings ......

this is used for multiple libnes

<h3> Extracting individual charcaters from strings
    <h5> To extract this , we use indexing

In [10]:
# examples: 

str = "Ankit Raghav"
print(str[4])

t

In [11]:
# we can also use negative indexing which works from end of string

In [12]:
# eg: 

print(str[-1])

v

In [14]:
print(str[-12])

A

In [18]:
# to extract charcters in range  :
print(str[6:])

Raghav

In [20]:
print(str[:5])

Ankit

In [21]:
print(str[3:8])

it Ra

In [26]:
print(str[-9:-4])

it Ra

<h3>Concatenation i strings:

<h4> Concatenation means ot join two or more strings . We use (+) concatenate operator for this

In [27]:
# eg: 

str1 = "Ankit"
str2 = "Raghav"
print(str1+str2)

AnkitRaghav

In [28]:
# in python we cant concatrnate string to integers , if we do the it gives error

s = " Ankit"
i = 23
print(s+i)

TypeError: can only concatenate str (not "int") to str

In [30]:
# it shows eror because + operator use as addition for integers only and use as concatenation for strings only 
# when we use both at same time the it fails to works and error occured

<h5>String is a immutable data type in which we cannot change or assign new value to characters of strings by using indexing 
<h5>We only can assess the charcters

In [31]:
# if we try to change the characters by indexing then it shows error
# eg:

s1 = "Ankit"
s1[0] = "a"
print(s1)

TypeError: 'str' object does not support item assignment

In [32]:
# here we got error string doesnt allow item assignment

# Methods of Strings:

<h4> 1. len():

In [33]:
# len method used to find the length of any string

my_str = "Ankit Raghav"
print(len(my_str))

12

In [35]:
# now we get the length of our string
# it also count symbols, spaces etc

<h4>2. lower() </h4>


It converts the whole string in lower case

In [38]:
# eg: 

print(my_str.lower())

ankit raghav

<h4>2. upper() </h4>


It converts the whole string in upper case

In [39]:
#eg: 

print(my_str.upper())

ANKIT RAGHAV

<h4>3. replace() </h4>


It replaces any character of string with another character which we cant able to do by indexing

In [40]:
# eg: 

my_str.replace('A','a')

'ankit Raghav'

<h4>4. count() </h4>


It counts the number or repeatition of any character or grou of character in a string

In [41]:
# eg: 

my_str.count('a')

2

In [47]:
#eg2:
my_str2 = "Ankit Ankit is my name name name"
print(my_str2.count('name'))
print(my_str2.count("Ankit"))

3
2

<h4>5. find() </h4>


It is used to find the index value of any character in string

In [50]:
# eg: here string is "Ankit Raghav"

my_str.find('a')

7

<h4>6. split() </h4>


It is used to separate any string into a list by any specific charcter

In [51]:
#eg: 
my_str3 = "Ankit,Raghav,Btech,DataAnalysis,DataScience"
my_str3.split(',')

['Ankit', 'Raghav', 'Btech', 'DataAnalysis', 'DataScience']

In [52]:
# here sub strings are made seperated by commas